@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-color: #2D9596;
    --primary-color: #6C22A6;
    --secondary-color: #FF004D;
    --font: "Montserrat", sans-serif;
}

body{
    background-color: var(--bg-color);
}